####################################
# Python
####################################
__pycache__/
*.py[cod]
.pytest_cache/

####################################
# Virtual Environment
####################################
.venv/
venv/

####################################
# IDE
####################################
.vscode/
.idea/

####################################
# Environment
####################################
.env
.env.*
config/local_user.json

####################################
# Database
####################################
*.db
*.sqlite
*.sqlite3

####################################
# Local Storage
####################################
storage/

####################################
# Generated Reports
####################################
PowerBI_Output/

####################################
# Generated Excel
####################################
Branch_Ranking_New_Model.xlsx
Data.xlsx

####################################
# Export Files
####################################
*.csv

####################################
# Logs
####################################
*.log

####################################
# OS Files
####################################
Thumbs.db
.DS_Store